*{
    margin: 0ex;
}
.input_chapter{
   
    height: 40px;
    border-radius: 4px;
    width:300px;     
    font-size: 15px;
    border:none;
    border-bottom: 3px solid orangered;
    text-align: center;
    color: peru;
    outline: none;

}
.btn{
    margin-left: 20px;
}

.chapter_Summary{
    
    height: max-content;
    color:brown;   
    font-weight: 400;
    font-size: 30px;
    text-align: center;    
    padding: 30px;
    margin-left: 200px;
    
    
    
}

.chapter_info{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.chapter_head{
    background-color: rgba(255, 245, 238, 0.548);  
    
    font-weight: 600;
    font-size: 30px;
    text-align: center;    
    padding: 30px;    
    

}
.chap_summary{
    
    font-weight: 400;
    font-size: 30px;
    text-align: center;    
    padding: 30px;  
    
    background-color: lightblue;
    color:brown;  
}
@media screen  and (max-width:540px){
 


.chapter_Summary{
    
    height: max-content;
    color:brown;   
    font-weight: 400;
    font-size: 20px;
    text-align: center;    
    padding: 20px;
    margin-left:2px;
    margin-right: 20px;
    
    
}
.btn{
    margin-top: 20px;
    margin-left: -40px;
    
}

.chapter_info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.chapter_head{
    background-color: seashell;   
    font-weight: 300;
    font-size: 20px;
    text-align: center;    
    padding: 30px;    
    color: #a85a0b;
    

}
.chap_summary{
    
    font-weight: 400;
    font-size: 15px;
    text-align: center;    
    padding: 30px;     
    background-color: lightblue;
    color:brown;  
    margin-right: 20px;
}
    
}