.instagram{
    color: rgb(192, 74, 94);
    text-decoration: none;
}
.github{
   color: rgb(27, 7, 7);
    text-decoration: none;
}
.linkedien{
    background-color: rgb(39, 141, 224);
    text-decoration: none;
}