.instagram{
    color: rgb(192, 74, 94);
    text-decoration: none;
}
.github{
   color: rgb(27, 7, 7);
    text-decoration: none;
}
.linkedien{
    background-color: rgb(39, 141, 224);
    text-decoration: none;
}
.contact-box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.h-100{
    margin-top: 30px;
    font-size: 25px;
}