*{
    margin: 0ex;
    overflow-x: hidden;
}
.Header{
    
    color:rgb(233, 99, 21);
    background-color:rgb(243, 237, 150,0.4) ;
    width: 100%;
    display: flex;
    background-size: cover;
    box-shadow:
    inset 0 -3em 3em rgba(94, 202, 152, 0.4),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);

    
    
}
.logo{
  background-color: rgb(235, 211, 77) !important;
  filter: sepia(100%);
  width: 100px;
  
}
.header_2{
    
    display: flex;
    flex-direction: row;
    padding-top: 20px;    
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 500;
    
    

}
.Contact{
    
    text-decoration: none;
    color:rgb(231, 97, 20) ;
}
.Chpater_nav{
   
    text-decoration: none;
    color: rgb(231, 97, 20);

}
.Chpater_page{
 
    text-decoration: none;
    color: rgb(231, 97, 20);
}
@media screen and (max-width:540px) {
    *{
        margin: 0ex;
    }
    .Header{
        
        color:rgb(26, 154, 228);
        display: flex;
        flex-direction: row;
        
        
         
        width: 100%;    
        
        
    }
    .logo{
      background-color: rgb(235, 211, 77) !important;
      width:80px;
      
      
    }
    .header_2{
        
        display: flex;
        flex-direction: row;
        padding-top: 20px;    
        padding-left: 10px;
        font-size: 14px;
    
        width: 100%;
       
        
        
    
    }
    .Contact{
        margin-left:10px;

       
    }
    .Chpater_nav{
        padding-right:10px;
        text-decoration: none;
        
    
    }
    .Chpater_page{
        padding-left: 5px;
        text-decoration: none;
       
    }
    

}
/* @media screen and (max-width:420px) {
    .header{
        width:414px;

    }
    .Contact{
        padding-left: 20px;
    }
} */
